*.DS_Store
*.swp
*.git

# Exclude textmate project files
*.tmproj

# Exclude project files
*/.idea
*.idea
*.project
*.settings/
*.buildpath

# Exclude logs
*log
*logs

# Exclude cache
*cache

# Builds
*builds
*release
*Preview.zip
